


.footer-wrapper {
  position: relative;
  height: 50px;
  bottom: 0; 
  left: 0;
  width: 100%;
   background-color: #c87042;
   color: white;
   text-align: center;
   align-items: center;
   align-content: center;
}


@media only screen and (max-width: 768px) {

.footer-p {
    font-size: .75rem;
}

}