



.landing-wrapper {
       display: flex;
    justify-content: center;
    flex-direction: column;
    
    align-items: center;
   
    gap: 20px;
    
    margin-top: 50px;
    margin-bottom: 150px;
}

.header-p {
    font-size: 5rem;
    font-family: 'High Tower Text', sans-serif;
    font-weight: normal;
}
.subheader-p {
    font-size: 2rem;
    font-family: 'High Tower Text', sans-serif;
    font-weight: normal;
}

.landing-card-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    align-content: center;
    gap: 20px;
    
}

.landing-img-card {
    width: 45rem;
    border: none;
    background-color: rgb(255, 224, 145, .25);
   
   border-radius: 50px;
   box-shadow: -10px  10px  0px #c87042;
}

.landing-img {
    width: 100%;
    border-radius: 50px;
}
.landing-card-body {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.landing-text-card {
    width: 45rem;
    height: 686px;
    
    border: none;
    border-radius: 50px;
    text-align: center;
    padding: 15px;

    
   
   border-radius: 50px;
   box-shadow: 10px  -10px  0px #c87042;
}

.landing-body-text {
    display: flex;
    font-size: 1.25rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}

.landing-tag-lg {
    font-weight: bold;
    font-size: 3rem;
    font-family: 'High Tower Text', sans-serif;
}



.landing-tag-sm {
    display: none;
}



/* Media Query for small screens (e.g., max-width: 768px) */
@media only screen and (max-width: 1500px){
   .landing-card-wrapper {
        flex-direction: column;
    gap: 40px;
  
        
    }
    .landing-img-card {
    order: -1;
}

.landing-img-card, .landing-text-card {
    width: 90%;

}

.landing-text-card {
    height: auto;
    margin-top: 20px;
}

.landing-body-text {
    margin-top: 20px;
}
}

@media only screen and (max-width: 1380px){



}



@media only screen and (max-width: 1280px){


}

@media only screen and (max-width: 1200px) {



}

@media only screen and (max-width: 1175px) {



}



@media only screen and (max-width: 1024px) {

.landing-body-text {
    font-size: 2rem;
   
}

.landing-tag-lg {
    
    font-size: 2.25rem;
    
}

}

@media only screen and (max-width: 915px) {

.header-p {
    font-size: 4.5rem;
    
}
 .landing-body-text {
    font-size: 2rem;
   
}


}

@media only screen and (max-width: 853px) {


}

@media only screen and (max-width: 776px) {

.header-p {
    font-size: 4rem;
    
}

}

@media only screen and (max-width: 768px) {



}


@media only screen and (max-width: 690px) {
.header-p {
    font-size: 3.75rem;
    
}

}

@media only screen and (max-width: 645px) {

.header-p {
    font-size: 3.5rem;
    
}
.landing-tag-lg {
    display: none;
}
.landing-tag-sm {
    display: inline-block;
    font-weight: bold;
    font-size: 2.75rem;
    text-align: center;
    font-family: 'High Tower Text', sans-serif;
    font-weight: normal;
}
}

@media only screen and (max-width: 624px) {


}

@media only screen and (max-width: 604px) {

.header-p {
    font-size: 3.25rem;
    
}
.subheader-p {
    font-size: 1.9rem;
}
}

@media only screen and (max-width:567px) {
.header-p {
    font-size: 3rem;
    
}
.subheader-p {
    font-size: 1.8rem;
}

}

@media only screen and (max-width:548px) {

.header-p {
    font-size: 2.9rem;
    
}
.subheader-p {
    font-size: 1.5rem;
}
.landing-body-text {
    font-size: 1.25rem;
   
}
/* .landing-tag-sm {
    font-size: 1.5rem;     
} */
}

@media only screen and (max-width: 497px) {

.header-p {
    font-size: 2.5rem;
    
}


}

@media only screen and (max-width: 440px) {
  
     .header-p {
    font-size: 2.25rem;
    
}
.subheader-p {
    font-size: 1.25rem;
}
.landing-tag-sm {
    font-size: 1.75rem;     
}
}
@media only screen and (max-width: 390px) {
  


}


@media only screen and (max-width: 375px) {

     .header-p {
    font-size: 2rem;
    
}

.subheader-p {
    font-size: 1rem;
}

.landing-tag-sm {
    font-size: 2rem;     
}

}

@media only screen and (max-width: 344px) {
 
     .header-p {
    font-size: 1.8rem;
    
}
.landing-body-text {
    font-size: 1rem;
   
}
.landing-tag-sm {
    font-size: 1.75rem;     
}


}