


.service-test-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 100px;
    margin-top: 100px;
    
    
}

.title {
    font-size: 3rem;
    align-content: center;
    font-weight: bold;
    font-family: 'High Tower Text', 'Arial Rounded MT Bold', sans-serif;
}
.dev {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin-bottom: 50px;
  
   
}

.dev-text {
    width: 38rem;
    border-radius: 50px;
    box-shadow: 10px  -10px  0px #c87042;
    border: 10px solid rgb(255, 224, 145, .25);
    background-color: white;
    padding: 20px;
    text-align: center;
}

.text-p {
    font-size: 1.2rem;
}


.branding-text {
     width: 38rem;
    border-radius: 50px;
    box-shadow: -10px  10px  0px #c87042;
    border: 10px solid rgb(255, 224, 145, .25);
    background-color: white;
    padding: 20px;
    text-align: center;
}

.brand {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin-bottom: 50px;
}

.image-wrapper {
    align-content: center;
    
}
.image {
    width: 275px;
    border-radius: 50px;
}

.img, .image:hover {
    transform: scale(1.1);
    box-shadow: -10px  10px  0px #c87042;
}

.fix {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}















/* Media Query for small screens (e.g., max-width: 768px) */
@media only screen and (max-width: 1500px){
   .test-wrapper {
        flex-direction: column;
        align-items: center;
        
    }
    .image-div {
    order: -1;
}

    
}


@media only screen and (max-width: 1380px){

.text-div {
    width: 38rem;
}
.logo-image {
    width: 38rem;

}
.image-div {
    width: 38rem;
   

}




}



@media only screen and (max-width: 1280px){

.text-p {
    font-size: 1rem;
}

.image {
    width: 225px;
    
}

.dev-text, .branding-text {
    width: 30rem;
}

}
@media only screen and (max-width: 1200px) {



.dev-text, .branding-text {
    width: 30rem;
}




}

@media only screen and (max-width: 1175px) {

.dev-text, .branding-text {
    width: 25rem;
}


}



@media only screen and (max-width: 1024px) {



.dev-text, .branding-text {
    width: 22rem;
}
 .img-title-wrapper {
    flex-direction: column;
 }


}

@media only screen and (max-width: 915px) {

  .dev {
    flex-direction: column;
    align-items: center;
  }


.brand, .fix {
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.brand-img {
    order: -1;
}

.branding-text {
    order: 1;
}


 


}


@media only screen and (max-width: 768px) {



}


@media only screen and (max-width: 690px) {

    .logo-image, .image-div, .text-div {
        width: 30rem;
    }



}

@media only screen and (max-width: 660px) {



}

/* @media only screen and (max-width: 690px) {


} */

@media only screen and (max-width:540px) {

        .logo-image, .image-div, .text-div {
        width: 25rem;
    }



}

@media only screen and (max-width: 475px) {
           .logo-image, .image-div, .text-div {
        width: 20rem;
    }



}

@media only screen and (max-width: 430px) {
         .logo-image, .image-div, .text-div {
        width: 19rem;
    }
    .dev-text, .branding-text {
        width: 18rem;
    }
    .text-p {
        
        font-size: .9rem;
    }
    .title {
        font-size: 2rem;
    }

button {
    padding: 10px;
}


}
@media only screen and (max-width: 390px) {
       .logo-image, .image-div, .text-div {
        width: 18rem;
    }


label {
    font-size: 1rem;
}
}


@media only screen and (max-width: 375px) {
       .logo-image, .image-div, .text-div {
        width: 16rem;
    }

button {
    padding: 5px;
}

}

@media only screen and (max-width: 360px) {
     .logo-image, .image-div, .text-div {
        width: 15rem;
    }

      .dev-text, .branding-text {
        width: 15rem;
    }

}