form {
  /* border-radius: 5px; */
  background-color: #ffdf91;
  padding-top: 50px;
  padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 18px;
  text-align: center;
  border-radius: 30px;
}

.form-card-content {
  background-color: #ffdf91; 
  padding: 15px;
  border-radius: 30px;
  text-align: center;
}
label {display: block; font-size: 1.2rem;}

#input, #textarea {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#send {
    justify-content: center;
  
  font-family: 'Caprasimo', 'Arial Rounded MT Bold', sans-serif;
  font-size: 1rem;
  background-color: #784415;
  color: white;
  padding: 14px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#send:hover {
  background-color: #CC5500;
}

.contact-image {
  border-radius: 30%;
  width: 35rem;
  height: 35rem;
}



/* Process Section */

.process {
  display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          margin-top: 2rem;
          gap: 2rem;
}

.process-image {
  border-radius: 30%;
  width: 35rem;
  height: 35rem;
}
.process-card-content {
  background-color: #ffdf91; 
  padding: 15px;
  border-radius: 30px;
  text-align: center;
  font-size: 1.5rem;
  width: 38rem;
}

.contact {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-top: 2rem;
  font-family: 'Caprasimo', 'Arial Rounded MT Bold', sans-serif;
  font-size: 1.5rem;
  flex-direction: row;
  gap: 2rem;
}

.contact-button {
  background-color: #CC5500;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.contact-button-image {
  height: 2.5rem;
  width: 5rem;
  border-radius: 12%;
}

.back-button-image {
  height: 2.5rem;
  width: 5rem;
 
  border-radius: 15%;
}


@media only screen and (max-width: 1368px) {
.process, .contact {
  display: flex;
  flex-direction: column;

}


}

@media only screen and (max-width: 1280px) {
  .process-card-content {
  width: 33rem;
  height: auto;
}
}
@media only screen and (max-width: 1024px) {
.process-card-content {
  width: 43rem;
}


}
@media only screen and (max-width: 768px) {
.process-card-content {
  width: 33rem;
}
}
@media only screen and (max-width: 690px) {
.process-card-content {
  width: 33rem;
}
}

/* @media only screen and (max-width: 660px) {
.process-card-content {
  width: 33rem;
}
} */

@media only screen and (max-width: 540px) {
.process-image {
  border-radius: 30%;
  width: 20rem;
  height: auto;
}

.process-card-content {
  width: 23rem;
  font-size: 1.2rem;
}
}

@media only screen and (max-width: 430px) {
.process-image {
  border-radius: 30%;
  width: 25rem;
  height: auto;
}

.process-card-content {
  background-color: #ffdf91; 
  /* padding: 5px; */
  width: 17rem;
  height: 22rem;
  border-radius: 30px;
  text-align: center;
  font-size: 1rem;
}

form {
  /* border-radius: 5px; */
  background-color: #ffdf91;
  /* padding-top: 30px;
  padding-left: 20px;
    padding-right: 20px; */
  height: 20rem;
  border-radius: 10%;
}
}

.form-card-content {
  height: 22rem;
}
#send {
  margin-top: 1rem;
}




@media only screen and (max-width: 414px) {
.process-image {
  border-radius: 30%;
  width: 22rem;
  height: auto;
}

.process-card-content {
width: 17rem;
font-size: 1rem;
  /* padding: 5px;

  font-size: .5rem; */
}

form {

  padding-top: 30px;
  padding-left: 20px;
    padding-right: 20px;
  
  border-radius: 10%;
}
}

@media only screen and (max-width: 375px) {
.process-card-content {
  width: 15rem;
  font-size: 1rem;
}

.process-image {
  width: 20rem;
}
}

@media only screen and (max-width: 360px) {
.process-image {
  border-radius: 30%;
  width: 20rem;
  height: auto;
}

.process-card-content {

  width: 14rem;

  font-size: .9rem;
}

form {

  padding-top: 30px;
  padding-left: 10px;
    padding-right: 10px;
  
  border-radius: 10%;
}
label {
  font-size: .9rem;
}
}

