@font-face {
  font-family: 'High Tower Text'; /* The name you will use later */
  src: url('fonts/HTOWERT.woff2') format('woff2'), /* Modern browser format */
       url('fonts/HTOWERT.woff2') format('woff');  /* Fallback format */
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* Shows fallback font until custom font loads */
}

body {
 
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F5F5F5;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  overflow-x: hidden;
}

html, body, #root {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  
}

*, *::before, *::after {
  box-sizing: inherit;
}



h2, h3, h1, h4{
    font-family: 'High Tower Text', sans-serif;
    font-weight: normal;
}



@media only screen and (max-width: 1280px){
.retro-card {
    width: 35rem;
    font-size: 1rem;
  }
}
@media only screen and (max-width: 1024px) {

  .retro-card {
    width: 45rem;
    font-size: 1.5rem;
  }
.home-card-wrapper {
  margin-bottom: 20px;
}

}

@media only screen and (max-width: 768px) {
.retro-card {
  width: 35rem;
  height: auto;
}

}


@media only screen and (max-width: 690px) {
.retro-card {
  width: 35rem;
  height: auto;
}

}

@media only screen and (max-width: 660px) {
.retro-card {
  width: 30rem;
  height: auto;
}

}

@media only screen and (max-width: 690px) {
.retro-card {
  width: 35rem;
  height: auto;
}

}

@media only screen and (max-width:540px) {
.retro-card {
  width: 25rem;
  height: auto;
}

.process-image {
  border-radius: 30px;
}

}

@media only screen and (max-width: 430px) {
.retro-card {
  width: 19rem;
  height: auto;
  border-radius: 30px;
 
}
.card-content {
   
font-size: 1.2rem;

}
}

@media only screen and (max-width: 375px) {
.retro-card {
  width: 17rem;
}
}

@media only screen and (max-width: 360px) {
.retro-card {
  width: 16rem;
  height: auto;
  border-radius: 30px;
 
}

}